.body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.red-bold-span{
    color: red;
    font-size:1.1em;
    font-weight: bold;
}

.red-bold{
    color: red;
    font-size:1.1em;
    font-weight: bold;
}

.blue-bold{
    color: #2c3e50;
    font-size:25px;
    font-weight: bold;
}

.main-block{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 1000px;
}

.chat-messages{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 21%;
    overflow-y: auto;

}
.chat-form{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 14.5%;
    padding: 5px;
    background-color: #dae7f5;
}

.user-name{
    color: red;
    font-size:1.3em;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 1px;
    border-bottom: dotted #2c3e50 1px;
}

.message{
    font-weight: bold;
}

.date-message{
    color: #2c3e50;
    font-size:0.77em;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: right;
    padding-left: 5px;
}

.time-message{
    color: red;
    font-size: 0.98em;
    font-weight: bold;
    margin-bottom: 2px;
    text-align: right;
}

.date{
    color: #2c3e50;
    font-size:0.9em;
    font-weight: bold;
}
.login-form{
    border: solid silver 2px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    padding: 15px;
    margin: 20px;
    background-color: #effbfb;
}

.room-box{
    background-color: #2c3e50;
    padding: 3px;
    margin: 0;
    width: 35%;
    height: 1000px;
}

.content-box{
    background-color: #FFFFFF;
    margin: 0;
    width: 65%;
    height: 1000px;
}

.home-main{
    width: 100%;
    border: solid silver 1px;
}

.home-link{
    background-color: #385169;
    height: 60px;
    text-align: center;
}

.text-header-column{
    padding-top: 13px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.4em;
    cursor: default;
}

.room-link{
    background-color: #2c3e50;
    height: 60px;
    text-align: center;
    display: block;
    padding-top: 13px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.4em;
    text-decoration: none;
}

.room-link:hover{
    background-color: #375470;
    height: 60px;
    text-align: center;
    display: block;
    padding-top: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    border-right: solid red 5px;
}

.profile{


}

.HeaderColor{
   background-color:  #f7fafc;
}

.show-more-messages
{
    width: 100%;
    align-content: center;
    text-align: center
}

.link-show-more-messages
{
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.2em;
}

.right
{
    box-shadow: 0 0 5px rgba(0,0,0,0.28);
    background-color: #f7fafc;
    float: right;
    border: solid #f7fafc 1px;
    padding: 0.3rem;
    margin: 6px;
    width: 70%;
    border-radius: 4px;
}

.left
{
    box-shadow: 0 0 5px rgba(0,0,0,0.28);
    background-color: #dae7f5;
    float: left;
    border: solid #dae7f5 1px;
    padding: 0.3rem;
    margin: 6px;
    width: 70%;
    border-radius: 4px;
}

.error-mess
{
    color: red;
    font-weight: bold;
    position: relative;
    left: 18%;
    bottom: 22%;
}

.form-control
{
    resize: none;
}
