{% extends 'base.html.twig' %}
{% block body%}
    <div class="container h-100 justify-content: space-between;">
    <nav class="navbar navbar-expand-lg HeaderColor border">
        <a class=" col-md-10 red-bold" href="#">BORSChat</a>
        <div class="collapse navbar-collapse col-md-2">
            <p class="nav-link m-0 pr-2"></p>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn btn-secondary my-2 my-sm-0" href="{{ path('profile_login') }}" >Войти</a>
            </form>
        </div>
    </nav>
    <div class="container home-main">
            <div class="row">
                <div class="room-box">
                     <div class="home-link"><p class="text-header-column">Выбрать комнату:</p></div>
                    <a class="room-link" href="#">Комната №</a>
                    <a class="room-link" href="#">Комната №</a>
                    <a class="room-link" href="#">Комната №</a>
                    <a class="room-link" href="#">Комната №</a>
                    <a class="room-link" href="#">Комната №</a>
                     </div>
                <div class="content-box">
                    <p class="blue-bold p-3">Для продолжения <span class="red-bold-span">Войдите</span> или <span class="red-bold-span">Зарегистрируйтесь</span></p>
            </div>
        </div>
    </div>
{% endblock %}