{% extends 'base.html.twig' %}
{% block body %}
    <div class="container ">
    <div class="justify-content-md-center">
        <h1>Введите Ваше имя:</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    </div>
    {{app.session.get('user')}}
{% endblock %}